@footer_background:#ffffff;@footer_background_file:~'codazon/themelayout/images/tspr.png';@footer_background_image_option:~'center bottom no-repeat';@footer_background_normal:#f4f4f4;@footer_border:#e7e7e7;@footer_bottom_background:#ffffff;@footer_font:13px;@footer_hover_text:#60c5ba;@footer_text:#a8a8a8;@footer_text_normal:#bcbcbc;@footer_title_font:15px;@footer_title_text:#000000;@footer_top_background:#ffffff;@service-style06-background: #ffffff;
@service-style06-icon-background: #f4f4f4;
@service-style06-icon-text: #777;
@service-style06-text: #777;
@service-style06-icon-hover-background: #60c5ba;
@service-style06-icon-hover-text: #ffffff;
