@footer_background:#ffffff;@footer_background_file:~'codazon/themelayout/images/tspr.png';@footer_background_image_option:transparent;@footer_background_normal:#000000;@footer_border:#e7e7e7;@footer_bottom_background:#ffffff;@footer_font:13px;@footer_hover_text:#4dae65;@footer_text:#777777;@footer_text_normal:#ffffff;@footer_title_font:15px;@footer_title_text:#222222;@footer_top_background:#f4f4f4;@service-banner-background: #cf111a;
@service-banner-title: #000000;
@service-banner-hover-title: #f53867;
@service-banner-text: #999999;
@service-banner-hover-text: #f53867;
@service-banner-icon: #f53867;
@service-banner-icon-border: #f53867;
@service-banner-hover-icon: #f53867;
@service-banner-hover-icon-border: #f53867;
