.space-lg{
	margin-bottom: 120px;
	@media @phone {
		margin-bottom: 40px;
	}
}
@media @tablet_vertical {
	.space-col-small{
		> .row{
			margin-left: -5px;
			margin-right: -5px;
			> [class^='col-']{
				padding-left: 5px;
				padding-right: 5px;
			}
		}
		.space-base{
			margin-bottom: 10px;
		}
	}
}

@media @desktop {
    .base-slider {
		.slider-arrow-style-12();
	}
}

.cdz-block-title{
	margin-bottom: 50px;
	.b-title.h1{
		font-size: 260%;
		line-height: 1.2;
	}
	.sub-title{
		font-weight: 700;
		color:@main_title_text;
		margin-bottom: 0.5rem;
	}
	@media @phone {
		margin-bottom: 20px;
		.b-title.h1{
			font-size: 200%;
		}
	}
}

.wrapper-adv-style-04 {
	.cdz-block-content{
		margin: 0;
		padding: 0 20px;
		width: 100%;
		&:before{
			display: none;
		}
	}
}

.product-list-style-44 {
	.product-item-name .product-item-link{
		letter-spacing: 0;
		font-weight: 600;
		font-size: 115%;
	}
	.price-box .price{
		font-size: 130%;
		font-weight: 700;
	}
}

.post-list-style18 .post-title .post-item-link{
	letter-spacing: 0;
	font-weight: 600;
	font-size: 115%;
}

.list.products-list{
	.cdz-product-labels{
		.prolabels-style05();
	}
}

/*Blog*/
.blog-index-index .sidebar .block{
    &.blog-search {
    	padding: 8px 15px 5px;
		border: 1px solid @main_border;
    	.block-content{
    		padding-top:0;
    	}
    }
}
.sidebar .accordion, .sidebar .tagclaud-hld{background: transparent;}

.breadcrumbs {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: @main_input_background;
	color:@main_input_text;
    text-align: center;
	a {
		color:@main_input_text;
		&:hover{
			color:@main_hover_text;
		}
	}
}
/*Category*/
.sidebar .block:not(.account-nav){
	.block-style01();	
	padding: 0;
}

.toolbar{
	.toolbar-option2();
}
/*category - product list*/
.list.products-list{
	.item.product-item{
		.toolbar-option2(0px);
	}
}

/*Product page*/
.product-view-style-02,
.product-view-style-01,
.product-view-style-03,
.product-view-style-04{
	.product.info.detailed .product.items{padding:0;}
}
.product-view-style-03 {
    .product-info-main {
        .page-title-wrapper .page-title {
            text-transform: none;
            font-size: 22px;
            font-weight: 400;
            &when (@main_title_text = #ffffff) {
                color: darken(@main_title_text, 20%);
            }
        }
        .box-tocart .actions button {
            height: 50px;
            font-size: 14px;
        }
    }
}
.block.related,
.block.upsell,
.block.crosssell {
	.products-grid .product-item {
		.product-item-top {
			padding: 0;
		}
	}
}
.block.related .field.choice.related {
    right: 5px;
}

/*My account*/
.account-nav{
	.content{
		.toolbar-option2(0px);
		padding: 0;
	}
}
/*Blog*/
.post-list .post-holder,
.post-view .post-holder{
	.blog-box(1px); /*_blog*/
}


/*Header - Left Menu*/
@media @tablet_vertical {
	.header-vertical-menu-wrap{
		.main-content-top-left {
			.cms-index-index .sticky-menu:not(.active) &{
				&:hover{
					.menu-container{
						display: block;
					}
				}
			}
		}
	}
}