/*Lifestyle*/
body .page-main,.breadcrumbs{
	background:@main_background;
	margin:0;
}
.cms-index-index .column.main{
	padding: 0
}
.space-lg{
	/*margin-bottom: 100px;
	@media @phone{
		margin-bottom: 50px;
	}*/
}
.overflow-hidden{
	overflow: hidden;
}
.space-md{
	margin-bottom: 60px;
}
@media @phone{
	.space-md, .space-lg {margin-bottom: 50px;}
}
.primary-color{
	color: @main_title_text;
}
/*slideshow*/
.slide-caption{
	.slide-text{font: @f_h4; font-weight: 500;}
	.slide-title{font: @f_special;}
	.slide-btn{
		font: @btn_font;
		border-radius: @btn_radius;
		text-transform: none;
		background:transparent;
		color:@main_title_text;
		border: 1px solid @main_title_text;
		&:hover{
			background:@btn_hover_background;
			color:@btn_hover_text;
			border-color: @btn_hover_border;
		}
	}
	@media @tablet_strict{
		
	}
	@media @phone{
		.slide-text{font-size: 16px;}
		.slide-title{font-size: 24px;}
	}
}

/*Title*/
.cdz-block-title{
	margin-bottom: 40px; 
	.b-caption{
		font-size: 110%;
		font-weight: 600;
		border: 2px dashed @main_hover_text;
	    padding: 7px 10px;
	    display: inline-block;
	    .abs-borderradius(5px);
	}
	.b-title.h2{
		font: @f_special;
		span.text-underline{
			text-decoration: underline @main_hover_text;
			text-decoration-thickness: 2px;
			text-underline-offset: 10px;
		}
		&.b-title-custom{
			color: #fff;
		}
		@media @general_tablet{
			font: @f_h1;
		}
		@media @phone{
			font: @fm_h1;
		}
	}
	.b-desc{
		padding-top: 30px;
	}
	.title-desc{
		padding-top: 30px;
		color: @main_title_text;
		font: @f_h6;
		margin: 0 auto;
	}
}
@media @phone{
	.cdz-block-title {
		margin-bottom: 20px !important;
	}
}


.tt-left{
    border-radius: 100%;
    margin-bottom: 15px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    float: left;
}
.tt-right{
    float: left;
    width: calc(~'100% - 100px');
    .tt-header{
        margin-bottom: 5px;
        font-size: 120%;
        padding-top: 10px;
    }
}

.banner-style27 {
	.item-content{
		padding: 0 0 40px;
	}
	.bc-title{
		font-size: 230%;
	}
	@media @phone{
		.bc-title{
			font: @fm_h1;
		}
	}
}

.banner-style23{
	.item-content .btn.action{
		border-color: @btn_primary_background;
	}
	@media @phone{
		.item-content{
			padding: 40px 20px;
			.btn.action{
				padding: 10px;
				min-width: 165px;
			}
			.bc-actions{
				gap: 10px;
			}
		}
		.bc-title{
			font: @fm_h1;
		}
	}
}


.wrapper-adv-style-18 {
	.item-image{
		border-radius: 100%;
	}
	.item-title{
		font: @f_h5; 
		margin-top:5px;
		.abs-link(@main_title_text, @main_hover_text);
	}
}

.banner-style11{
	.bc-btn{
		font-size: 110%;
		text-transform: none;
		padding:0;
	}
	.bc-title{font-weight: 500; margin-bottom: 5px;line-height: 1.35;}
	.bc-desc{font-size: 130%; letter-spacing: 0;}
}

/*product style*/
.product-list-style-43{
	.product-item {
		div[class^="swatch-opt-"] .swatch-attribute .swatch-option,
		div[class^="swatch-opt-"] .swatch-attribute .swatch-option.image{
			width: 30px!important;
			height: 30px!important;
			.abs-borderradius(100%);	
		}
		.product-item-name .product-item-link{
			font: @f_h6;
			letter-spacing: 0;
			font-weight: 500;
		}
		.price-box{
			.price{
				font: @f_h6;
				font-weight: 500;
			}
			.price-label{
				display: none;
			}
		}
		.cdz-product-labels {
			top: 10px;
			left: 10px;
			.label-item{
				.abs-borderradius(20px);
				font-weight: 500;
				font-size: 14px;
				text-transform: none;
			}
			.rtl-layout & {
				left: auto;
				right: 10px;
			}
		}
	} 
	@media @tablet_vertical {
		.button-hover-wrap {
			.tocompare, .action.towishlist, .qs-button, a.qs-button	{
				width: 40px;
				height: 40px;
				line-height: 38px;
				.abs-borderradius(100%);
				transform: translateX(60px);
				.rtl-layout & {
					transform: translateX(-60px);
				}
			}
			.action.towishlist{top: 60px;}
			.tocompare{top: 110px;}
			.action.primary {padding: 10px 30px; text-transform: none;}
		}
	}
}

@media @tablet_strict{
	.instagram-wrapper .cdz-block-title{
		margin-bottom: 0;
		.title-desc{
			margin-bottom: 0
		}
	}
}
@media @phone{
	.instagram-wrapper{
		.owl-nav{display: none}
		.cdz-block-title{
			margin-bottom: 15px
		}
	}
}

.list.products-list{
	.cdz-product-labels{
		.prolabels-style05();
	}
}

/*Blog*/
.blog-index-index .sidebar .block{
    &.blog-search {
    	padding: 8px 15px 5px;
		border: 1px solid @main_border;
    	.block-content{
    		padding-top:0;
    	}
    }
}

/*Category*/
.sidebar .block:not(.account-nav){
	.block-style01();	
	padding: 0;
}

.toolbar{
	.toolbar-option2();
}
/*category - product list*/
.list.products-list{
	.item.product-item{
		.toolbar-option2(0px);
	}
}

/*My account*/
.account-nav{
	.content{
		.toolbar-option2(0px);
		padding: 0;
	}
}
/*Blog*/
.post-list .post-holder,
.post-view .post-holder{
	.blog-box(1px); /*_blog*/
}
/*Product page*/
.product-view-style-02,
.product-view-style-01,
.product-view-style-03{
	.main-inner,
	.product.info.detailed .product.items{
		.product-info-box(1px);
	}
}
.product-view-style-04 {
	.product-media-wrapper,
	.product-info-main {
		.product-left{
			.product-info-box(0px);
		}
		.product-right{
			.product-info-box(1px);
		}
	}
	.product.info.detailed .product.items{
		.product-info-box(0px);
	}
}