.page-footer{
	.middle-bottom02{
		border-top:1px solid @footer_border;
		padding: 40px 0 30px;
	}
	.main-footer{
		background-color:@footer_background;
		.footer-content-top{
			background-color:@footer_top_background;
		}
	}
	.service-banner-style02 .item p:not(.item-icon){margin-bottom:5px;}
	.middle-bottom{padding-bottom:40px;}
	.newsletter-content{
        display: block;
        span.title{
            display: block; margin: 0 0 10px;
        }
        span.sub-title {
            display: block; margin: 0 0 30px;
        }
        .block.newsletter{
            display: inline-block; 
            float: none;
            .field .control input{
                background-color:@footer_top_background;
            }
            .action.subscribe{
                padding: 9px 30px;
                border-radius: 30px;
            }
        }
    }
	.footer-social{
		justify-content: flex-start; 
		margin-top: 20px;
		a{
			color: @footer_title_text!important;
			background-color: transparent;
			margin-inline-end: 15px;
		}
	}
	.footer-text span{display: inline-block;color: @footer_title_text;}
	.footer-about-us strong{color: @footer_title_text;}
	.nav-footer{
		margin-bottom: 10px;
		.nav-footer-title{
			font-weight: 600;
			color: @footer_title_text;
		    display: inline-block;
		    vertical-align: top;
		    margin-bottom: 5px;
		    padding-right: 5px;
		    .rtl-layout &{
		    	padding-right: auto;
		    	padding-left: 5px;
		    }
		}
		.nav-footer-content{
			display: inline-block;
		}
		.nav-links{
			display: flex;
    		flex-wrap: wrap;
    		margin: 0 -10px;
		}
		.nav-link{
			display: inline-block;
		    position: relative;
		    padding: 0 10px;
		    &:after{
		    	position: absolute;
			    top: 50%;
			    transform: translateY(-50%);
			    right: 0;
			    height: 12px;
			    width: 1px;
			    content: "";
			    background-color: @footer_border;
			    .rtl-layout &{
			    	right: auto;
			    	left: 0;
			    }
		    }
		    &.last:after{ display: none }
		    
		}
	}
    .li-icon {
        margin-inline-end: 7px;
    }
    @media @phone {
        .newsletter-content .block.newsletter .action.subscribe {
            padding: 0;
        }
    }
}