.page-footer{
	color: @footer_text;
	padding-top: 0;
	padding-bottom: 0;
	font-size: @footer_font;
	background:@footer_background url(@footer_background_file) @footer_background_image_option;
	a{
		.abs-link(@footer_text, @footer_hover_text);
	}
	.footer-content-top{
		padding: 50px 0px 30px;
		background-color: @footer_top_background;
	}
	.footer-content-middle{
		padding: 100px 0px 60px;
		background-color: @footer_background;
		border-top:1px solid @footer_border;
		.cms-index-index & {
			border: none;
		}
	}
	.footer-content-bottom{
		background-color: @footer_bottom_background;
		.footer-address{
			padding: 50px 0 40px;
			border-top:1px solid @footer_border;
		}
	}
	.footer.content{
		border: 0;
		padding: 0;
		margin-top: 0;
		.block{
			float: none;
		}
	}
	.newsletter{
		overflow: hidden;
	}
	.block.newsletter{
		width: 100%;
		margin-bottom: 30px;
        .field {
            margin: 0;
        }
		.field .control:before{
			color: @footer_text;
			margin: 0;
            inset-inline: 20px auto;
            font: normal 18px/50px FontAwesome;
            content: '\f003';
		}
		input{
			color: @footer_text;
			background: transparent;
			padding: 0 25px 0 35px;
			border:1px solid @footer_border;
			height: 50px;
			line-height: 50px;
			font-size: 14px;
			.abs-placeholder(@footer_text);			
			.rtl-layout &{
				padding: 0 35px 0 25px;
			}
		}
		.actions {display: block; width: 100%;}
		.action.subscribe{
			margin: 20px 0 0;
			border-radius: 0;
			border-color: @footer_background_normal;
			background-color: @footer_background_normal;
			color: @footer_text_normal;
			&:hover{
				border-color: @footer_border;
				background: @footer_background;
				color: @footer_text;
			}
		}
	}
	.newsletter-title{
		font-size: @footer_title_font;
	}
	.footer-payment{
		display: inline-block;
		vertical-align: top;
		margin-bottom: 10px;
		margin-top: 30px;
	}
	.footer-social {
		margin-top: 15px;
		a{
			margin: 5px;
            min-width: 30px;
			display: inline-block;
			vertical-align: top;
			text-align: center;
			color: @footer_text;
            transition: all ease .5s;
			.fa, .fab, .fas{
				font-size:0;
				&:before{
					font-size: 20px;
				}								
			}
			&:hover{
				color: @footer_hover_text;
                transform: scale(1.2);
			}
		}
	}
	.footer-box .h5{
		text-transform: uppercase;
		font-size: @footer_title_font;
		color: @footer_title_text;
		margin-bottom: 40px;
	}
	.footer-link li{
		padding: 5px 0;
	}
}

@media @phone{
	.page-footer{
		padding-bottom: 40px;
		.footer-content-middle{padding-top: 50px;}
		.footer-box p.h5{
			cursor:pointer;
			text-transform: capitalize;
			font-style: italic;
			margin-bottom: 10px;
			padding: 5px 0;
			&:after{
				.abs-iconfont('\f105', 24px);
				float:right;
				margin-top:-6px;
				width: 30px;
				height: 30px;
				line-height: 30px;
				text-align: center;
				font-style: normal;
				.abs-transition();
				
			}
			&.active:after{
				.abs-transform(~'rotate(90deg)');
			}
			.rtl-layout &{
				&:after{
					content:'\f104';
					float:left;
				}
			}
		}
		.showhide{
			height:0;
			visibility: hidden;
			overflow:hidden;
			.abs-opacity(0);
			filter: alpha(opacity=0);
			.abs-transition();
			.abs-transition(~'opacity .4s ease, transform .4s ease, visibility .4s linear 0s');
			.abs-transform(~'translateY(20px)');
			&.active{
				height:inherit;
				.abs-opacity(1);
				filter: alpha(opacity=100);
				.abs-transform(~'translateY(0)');
				visibility: inherit;
				margin-bottom: 10px;
			}
		}
	}	
}
.page-footer{
	.hover-link01 a{
		.hover-link01(@footer_hover_text);
	}
}