.product-list-style-32 {
    @product_32_btn_text: lighten(@btn_primary_text, 30%);
    @product_32_btn_background: @btn_primary_background;
    .products-grid .owl-item > .product-item {
        margin-bottom: 10px;
    }
    .hovered-product-image-style-01(1.5s);
    .product-left {
        width: 150px;
        position: relative;
        overflow: hidden;
    }
    .product-right {
        width: ~'calc(100% - 150px)';
        position: relative;
    }
    .product-item-photo {
        display: block;
        width: 100%;
    }
    .product-item-details {
        text-align: initial;
    }
    .product-item-inner {
        text-align: initial;
        padding: 20px 20px;
    }
    .product-item .product-item-top {
        margin: 0;
    }
    .product-item div[class^="swatch-opt-"] {
        margin-top: 5px;
        display: inline-block;
        width: 100%;
    }
    .product-item div[class^="swatch-opt-"] > div {
        text-align: initial;
    }
    .swatch-option{
        border:1px solid #000000;		
        &:hover:after, 
        &.selected:after{
            display: none
        }
        &.color:not(.disabled):hover{				
            .abs-scale(1);
            border-color:#000000;
            &.selected {
                outline: 1px solid #000000;
                border-color:#ffffff;
            }
        }
        &.selected{
            outline: 2px solid #000000;
            border-color:#ffffff;
            .abs-transition(0s);
        }
        &.image{
            width: 15px !important;
            height: 15px !important;
            min-width: 15px;
            &:not(.disabled):hover{
                .abs-scale(1);
                border-color:#000000;
                &.selected{
                    padding: 1px;
                    outline: 2px solid #000000;
                    border-color:#ffffff;
                }
            }
        }
    }
    .cdz-product-labels {
        top: 5px;
        .label-item {
            border-radius: 0;
        }
    }
    a.qs-button {
        position: absolute;
        right: 10px;
        top: 10px;
        background: transparent;
        z-index: 2;
        border: none;
        opacity: 0;
        transform: scale(0);
        transition: all ease .4s;
        .rtl-layout & {
            right: auto;
            left: 10px;
        }
        &:before {
            font-family: CodazonFont;
            content: "\e970";
            font-size: 20px;
            color: @product_32_btn_background;
        }
        &:hover {
            background: none;
            border: none;
            &:before {
                color: @product_32_btn_background;
            }
        }
    }
    .product-items .el-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background: fade(darken(@product_32_btn_background, 30%), 80%);
        .action.el-i {
            width: 40px;
            height: 40px;
            font-size: 0;
            border: none;
            background: transparent;
            color: @product_32_btn_text;
            padding: 0;
            text-align: center;
            margin: 0 5px;
            &:before {
                font-family: CodazonFont;
                content: "\e994";
                font-size: 18px;
                line-height: 40px;
                color: @product_32_btn_text;
            }
            &:hover {
                &:before {
                    color: @product_32_btn_text;
                }
            }
        }
        .el-i {
            &.towishlist {
                &:before {
                    content: "\e986";
                }
            }
            &.tocompare {
                &:before {
                    content: "\e958";
                }
            }
        }
    }
    .product-reviews-summary{
		.reviews-actions{
			display: none
		}
		.rating-result{
			&:before{
				color:@main_hover_text;
				content: '\f006' '\f006' '\f006' '\f006' '\f006';
			}
			> span:before{
				color:@main_hover_text;
				content: '\f005' '\f005' '\f005' '\f005' '\f005';
			}
		}
	}
    @media @tablet_vertical {
        .product-item-name .product-item-link,
        .product-item-link,
        .product.name a{
            font: @f_default;
            text-transform: uppercase;
        }
        .product-item .price-box .price{
            font: @f_default;
            font-size: 18px;
            font-weight: 600;
        }
        .product-items .el-group {
            padding: 3px 0px;
            position: absolute;
            left: 0;
            z-index: 2;
            opacity: 0;
            width: 100%;
            bottom: 0;
            transition: all ease .5s;
            transform: translateY(40px);
            visibility: hidden;
            .action.el-i {
                transition: all ease .4s;
                transform: scale(0);
                &:hover {
                    background: rgba(0, 0, 0, .5);
                }
            }
        }
        .product-items .product-item:hover {
            .el-group {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
            .el-i, a.qs-button {
                transform: scale(1);
                opacity: 1;
            }
            .el-i:hover, a.qs-button:hover {
                transform: scale(.8);
            }
        }
    }
    @media @phone {
        .product-item {
            padding: 5px 0;
        }
        .el-i:hover, .el-i:hover:before {
            transition: none;
            transform: none;
            animation: none;
        }
    }
}