.product-list-style-29{
	.owl-stage{
		padding: 0;
	}
	.abs-product-hover-img(); /*hover*/
	/*label*/
	.cdz-product-labels{
		.prolabels-style05();/*wrapper-prouct*/
		 top: 10px;
		left: 10px;
	}
	.product-item{
		.price-box{
			margin-bottom: 0;
			.abs-transition();
			.old-price{
				margin: 0 7px;
				float: none
			}			
		}
		.product-reviews-summary{
    		margin: 5px 0;
    		.rating-summary{margin: 0; padding: 0}
    		.reviews-actions{display: none}
		}
		.actions-secondary>.action:hover:after {
			-moz-animation: none;
			-ms-animation: none;
			animation: none;
		}
	}
	.product-item-info{ position: relative}	
	.product-item-name .product-item-link{
		letter-spacing: 1px
	}
    .product-item-description{
        margin: 5px 0;
    }	
	@media @tablet_vertical{
		.products-grid .product-item:last-child{
            margin-bottom:0;
        }
		.product-item-actions{
			position:absolute;
			bottom:0;
			margin:0;
            z-index: 4;
			.actions-primary{display:inline-block}
			.actions-secondary{display:inline}
	    	.tocart,
	    	a.tocompare,
	    	.action.towishlist,
	    	.qs-button, 
			a.qs-button{
				.icon-style(35px);
				.abs-opacity(0);
				.abs-borderradius(0);
				.abs-boxshadow(0 0 5px 0 rgba(147, 147, 147, .5));
				border-width: 0;
				display:inline-block;
				margin-right:7px;
				span{display: none}
			}
			.tocart:after{
				.abs-iconfont("\f07a", 14px);
			}
			.rtl-layout &{
				right:auto;
				left:10px;
			}		
		}
		a.tocompare:before{
			.abs-iconfont("\f0ec", 14px);
	    }
	    .action.towishlist{	
			z-index: 1;
			margin-bottom: 10px;
			&:after{
				.abs-iconfont("\f004", 14px);
			}
		}
		.qs-button, 
		a.qs-button{
			margin-bottom: 10px;
			&:before{
				line-height:unset;
			}
			&:hover{
				box-shadow: none;
			}
		}
		.products.list.items,
		.table-comparison{
			.action.towishlist:before{
				display:none;
			}
		}
		.product-item:hover{
			.price-box{
				display: block;
			}
			.product-item-actions{
				transform: translateY(0);
				.qs-button, 
				a.qs-button,
				.tocart,
				.action.towishlist,
				a.tocompare{
					.abs-opacity(1);
				}
				.tocart.unavailable{
					.abs-opacity(0.5);
				}
			}
		}
	}
	@media @phone{
		.product-item {
			.product-item-name{
				margin: 0
			}
   		}
		.product-item-actions{
			margin-top:10px;
		}
		.product-item-inner{
			text-align: center;
		}
		.cdz-block-title{
			margin-bottom: 20px !important;
		}
	}
}
