.product-list-style-55{
	&.grid.products-grid{
		.product-item{
			.action.tocart{
				//right: -10px;
			}
		}
	}
	.product-item{
		.abs-product-hover-img-slide();/*hover*/
		padding:0;
		position: relative;
		border: 1px solid @main_box_border;
		background: @main_box_background;
		.abs-borderradius(@main_box_radius);
		.product-item-details{
			padding: 20px;
		}
        &:hover{
			.qs-button {
				.abs-opacity(1);
			}
		}
	}
	.product-item-top{
		position: relative;	
		margin:0;
	}
	/*label*/
	.cdz-product-labels{
		left:auto;
		right:10px;
		top: 10px;
		.rtl-layout &{
			left:10px;
			right:auto;
		}
		.prolabels-style02();
	}
	.qs-button {
		position: absolute;
		position: absolute;
	    top: 40%;
	    z-index: 1;
	    left: 40%;
	    .abs-calc-left(~'calc((100% - 38px)/2)');
	    .abs-opacity(0);
	    &:before{
	    	line-height:36px;
	    }
	    span{
	    	display: none
	    }
	}
	.product-name-rev{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		-ms-flex-pack: justify;
		-webkit-box-pack: justify;
		justify-content: space-between;
		.product-item-name, .product-reviews-wrap{
			margin: 0 0 1.5rem;
		}
		.product-item-name .product-item-link {
			font: @f_h4;
		}
	}
	.product-reviews-summary {
	  display: inline-block;
		margin-bottom: 0;
		.reviews-actions{
			display: none
		}
		.rating-summary{
			padding:0;
			.rating-result:before,
			.rating-result>span:before{
				font-size: 15px;
			}
		}
	}
	.product-item-sku{
		color:lighten(@main_productname_text, 30%);
	}
	.product-item-details{
		margin-bottom: 0;
	}
	.cdz-ajax-trigger{
		border: none;
		padding: 14px 20px;
		min-width: 40%;
		margin-top: 40px;
	}
	.product-item-description{margin-bottom: 2rem;}
	.price-box{
		margin-bottom: 1.5rem;
		.old-price{
			float: none;
			margin:0 5px;
			.rtl-layout &{
				float: none
			}
		}
		.price{
			font: @f_default;
			font-size: 190%;
			font-weight: 600;
		}
	}
	.field.qty{
		display: inline-block;
		vertical-align: top;
		margin-right: 5px;
		.label{
			display: none
		}
		.control{
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    overflow: hidden;
		    border: 1px solid @main_border;   
			.abs-borderradius(30px);				
		}
		input{
			height:30px;
			line-height: 30px;
		    padding: 0;
		    text-align: center;
		    border:0;
		    width: 30px;
		}
		.qty-ctl .decrease,
		.qty-ctl .increase{
    		min-width: 30px;
		    margin: 0;
		    border: 0;
		    padding: 0;
		    height: 30px;
		    line-height: 30px;
		    font-size: 18px;
			font-weight: 400;
			cursor: pointer;
			display:inline-block;
			width: 20px;
		    .abs-borderradius(0);	
		    .abs-style(#a8a8a8, #ffffff, #ffffff);	    
		    &:focus,
		    &:active,
		    &:hover{
		    	background: transparent;
		    	color:@main_hover_text;
		    }
	    }
	    .qty-ctl{
	    	.decrease{
		    	&:before{
		    		content:'-';			    		
		    	}
		    }
		    .increase{
		    	&:before{
		    		content:'+';
		    	}
		    }
	    }
	}	
	.action.tocart{
		position: absolute;
    	right: 0px;
    	bottom: 0px;
		display: inline-block;
		vertical-align: top;
		min-width: 50px;
		.icon-style(50px);
		.abs-style(@btn_icon_text, @btn_icon_border, @btn_icon_background);
		.abs-borderradius(100% 0 0);
	    padding-left: 10px;
		.rtl-layout &{
			margin-right: 5px;
			margin-left:0;
		    padding-left: 0;
	        padding-right: 10px;
	        .abs-borderradius(0 100% 0 0);
	        left: 0px;
	        right: auto;
		}
		&:before{
			.abs-iconfont2('\e992', 25px);
			line-height: 60px
		}
		span{display: none}
		&.unavailable{
			width: auto;
		    text-transform: capitalize;
		    font-weight: normal;
		    padding: 4px 20px;
		    height: auto;
		    display: inline-block;
		    float: none;
		    line-height: unset;
		    .abs-borderradius(0);
		    position: static;
			span{
				display: inline-block;
			    font-size: 13px;
			    text-indent: 0;
			    overflow: visible;
			    line-height: 1.35;
			}
			&:before{
				display: none;
			}
		}
	}
	.button-top-wrap {
	    position: absolute;
	    top: 10px;
	    left: 10px;
	    z-index: 1;
	    display: flex;
	    flex-direction: column;
	    .rtl-layout &{
	    	left:auto;
	    	right:10px;
	    }
	    > .action{
	    	color:@btn_normal_background;
	    	margin-bottom: 10px;
	    	span{display: none}
			&:hover:before{
				color:@btn_icon_background;
			}
	    }	    
	}
	.tocompare:before{
    	.abs-iconfont('\f074', 20px)
    }
	.products.list.items .towishlist{
		&:before{
		    .abs-iconfont('\f004', 20px);
		    color:@btn_normal_background;
		    padding: 1px
		}
	    &:hover:before{
	    	color:@btn_icon_background;
	    }
	}
	.products.list.items .product-extra-buttons .action.towishlist > span{
		width: auto;
	    height: auto;
	    position: static;
	}
}
.wrapper.list.products-list {
    .product-list-style-55 {
        .product-item-inner {
            margin-top: 20px;
        }
        .action.tocart {
            display: inline-block;
            width: auto;
            margin: 0 10px;
        }
        .actions-primary {
            position: relative;
            padding: 0 50px 0 0;
            .rtl-layout & {
                padding: 0 0 0 50px;
            }
        }
        &.product-item-inner {
            text-align: start;
        }
        .field.qty .control {
            border: none;
            border-bottom: 1px solid @main_border;
            border-radius: 0;            
        }
    }
}
@media @phone{
	.product-list-style-55 {
		.product-item .product-item-details{
			padding: 20px 10px 30px;
			text-align: inherit;
			.product-item-inner{
				position: static;
				margin:0;
				text-align: inherit;
			}
		}
		.product-extra-buttons .action{font-size: 10px}
		.product-item-name .product-item-link,
		.product-name-rev .product-item-name .product-item-link	{
			font: @fm_h3;
		}
		.price-box .price{font-size: 130%;}
		.action.tocart{
			font-size: 10px;
			margin-left: 5px;
			.abs-style(@btn_mobile_icon_text, @btn_mobile_icon_border, @btn_mobile_icon_background);
			.rtl-layout &{
				margin-left: 0;
				margin-right:5px;
			}
		}
		.product-extra-buttons{padding: 0 10px}
		.field.qty {
			width: 80px;
		}
		.button-wrap {
			margin-top: 15px;
			
		}
	}
}





