@footer_background:#ffffff;@footer_background_file:~'codazon/themelayout/images/s/l/slider-10.jpg';@footer_background_image_option:~'center top no-repeat';@footer_background_normal:#f4f4f4;@footer_border:#e7e7e7;@footer_bottom_background:#ffffff;@footer_font:14px;@footer_hover_text:#224229;@footer_text:#a8a8a8;@footer_text_normal:#121212;@footer_title_font:18px;@footer_title_text:#000000;@footer_top_background:transparent;@service-style06-background: #ffffff;
@service-style06-icon-background: #f4f4f4;
@service-style06-icon-text: #777;
@service-style06-text: #777;
@service-style06-icon-hover-background: #60c5ba;
@service-style06-icon-hover-text: #ffffff;
