@media @tablet_vertical {
    .page-header{
        background: @header_background;
		.sticky-menu:not(.active){
			margin-top:0;
			margin-bottom:0;	
			width: 100%;
            max-width: 100%;
			border-bottom: 1px solid fade(@header_border, 30%);
            .cdz-horizontal-menu .groupmenu {
				justify-content: center;
				display: flex;
                flex-wrap: wrap;
			}
            .cdz-horizontal-menu .groupmenu.show-page,
            .cdz-horizontal-menu.no-loaded .groupmenu {
                flex-wrap: nowrap;
            }
            .cdz-horizontal-menu .groupmenu.hide-page {
                display: none;
                flex-wrap: nowrap;
            }
		}
		.sticky-menu.active{
			background: @header_background;
            .panel.wrapper {
                max-width: ~'max(var(--cont-max-width), @{screen1400})';
            }
		}
		.cdz-horizontal-menu .groupmenu li.level0{
			>a.menu-link{
				text-transform: none;
				span{
					position: relative;
					&:before{
						content:"";
						height: 3px;
						border-radius: 2px;
						position: absolute;
						left: 0;
						right:0;
						width:0;
						bottom: -5px;
						background: @menu_border;
						.abs-transition();
					}
				}
			}
			&:hover{
				>a.menu-link{
					span:before{
						width:100%;
					}
				}
			}
		}
	}
}
.cms-index-index .page-header{
    margin-bottom: 0;
}
@media (min-width: 1025px) {
    .cms-index-index .page-header{
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        z-index: 7;
        background: transparent;
        .header.panel {
            background: transparent;
        }
        .cdz-horizontal-menu .groupmenu li.level0>a.menu-link,
        .cdz-horizontal-menu .groupmenu{
            background:transparent;
        }
    }
    .cms-index-index .sticky-menu:not(.active) .header-search {
        background: @header_search_background;
        padding: 10px;
        box-shadow: 2px 4px 7px 0px rgba(204,204,204,.62);
    }
}
@media @tablet_strict {
	.page-header .logo {
	    margin: 10px 0 0 20px;
	}
}