@footer_background:#222529;@footer_background_file:~'codazon/themelayout/images/tspr.png';@footer_background_image_option:~'center bottom no-repeat';@footer_background_normal:#292c30;@footer_border:#313438;@footer_bottom_background:#222529;@footer_font:13px;@footer_hover_text:#7aa93c;@footer_text:#a8a8a8;@footer_text_normal:#777777;@footer_title_font:15px;@footer_title_text:#ffffff;@footer_top_background:#222529;@service-style06-background: #ffffff;
@service-style06-icon-background: #f4f4f4;
@service-style06-icon-text: #777;
@service-style06-text: #777;
@service-style06-icon-hover-background: #60c5ba;
@service-style06-icon-hover-text: #ffffff;
