.banner-style17{
	.item-content {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: inherit;
        padding: 10px 0;
        &.text-end {
            text-align: end;
        }
        &.text-start {
            text-align: start;
        }
    }
    .bc-actions {
        margin-top: 10px;
    }
    .bc-desc {
        font-size: 14px;
    }
    .bc-title {
        font: @f_h3;
        font-weight: 700;
        color: @main_title_text;
    }
    .bc-subtitle {
        font: @f_h5;
        letter-spacing: .2em;
    }
    a.bc-btn, .bc-btn {
        font-size: 14px;
        text-transform: uppercase;
        display: inline-block;
        padding: 0;
        border: none;
        background: none;
        transition: letter-spacing ease 500ms;
        position: relative;
        &:before {
            position: absolute;
            width: 100%;
            height: 0;
            bottom: -5px;
            left: 0;
            content: '';
            transition: all ease 500ms;
            border-bottom: 1px solid;
            transform: scale(0);
        }
        &:hover {
            @media @tablet_vertical {
                &:before {
                    transform: scale(1);
                }
            }
        }
    }
    @media @general_tablet_down {
        .bc-desc, .bc-btn{
            font: @fm_h4;
        }
    }
}
@media @tablet_vertical{
	.banner-style17{
        > div{
            display: flex;
            align-items: center;
        }
        .wrapper-banner{
            display: flex;
            gap: 30px;
            
        }
		.cdz-banner:nth-child(even) {
	  		margin-top:  70px;
		}
	}
}
@media @phone {
	.banner-style17 {
		.wrapper-banner{
            margin:  0 -10px;
            overflow: hidden;
            > div{
                float: left;
                width:  50%;
                padding: 0 10px 20px;
            }
        }
	}
}



@keyframes elementor-animation-wobble-horizontal{16.65%{transform:translateX(8px)}33.3%{transform:translateX(-6px)}49.95%{transform:translateX(4px)}66.6%{transform:translateX(-2px)}83.25%{transform:translateX(1px)}100%{transform:translateX(0)}}.elementor-animation-wobble-horizontal:active,.elementor-animation-wobble-horizontal:focus,.elementor-animation-wobble-horizontal:hover{animation-name:elementor-animation-wobble-horizontal;animation-duration:1s;animation-timing-function:ease-in-out;animation-iteration-count:1}
@keyframes elementor-animation-wobble-vertical{16.65%{transform:translateY(8px)}33.3%{transform:translateY(-6px)}49.95%{transform:translateY(4px)}66.6%{transform:translateY(-2px)}83.25%{transform:translateY(1px)}100%{transform:translateY(0)}}.elementor-animation-wobble-vertical:active,.elementor-animation-wobble-vertical:focus,.elementor-animation-wobble-vertical:hover{animation-name:elementor-animation-wobble-vertical;animation-duration:1s;animation-timing-function:ease-in-out;animation-iteration-count:1}