.banner-style35 {
    .cdz-banner {
        position: relative;
        .abs-borderradius(@main_box_radius);
    }
    .item-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: inherit;
        padding: 30px 10%;
        &.text-left{
            text-align:left;
        }
        &.text-right{
            text-align:right;
        }
        &.content-middle{
            justify-content: center;

        }
        &.content-end{
            justify-content: flex-end;
        }
        &.pos-relative {
            position: relative;
            left: auto;
            top: auto;
        }
    }
    .bc-title {
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 20px;
        @media @phone{
        	font: @fm_h2;
        }
    }
    .bc-desc {
        font-size: 15px;
        margin-bottom: 5px;
        @media @phone{
        	font: @fm_h5;
        }
    }
    .bc-actions {
        margin-top: 20px;
    }
    .bc-btn {
        display: inline-block;
        background: @main_block_background;
        color: @main_title_text;
        border-radius: 7px;
        @media @tablet_vertical{
        	padding: 8px 25px;
        	font-weight: 600;
        	font-size: 15px;
        }
        &:hover {
            color: @main_hover_text;
        }
        @media @phone{
        	padding: 5px 10px;
        	font: @fm_h5;
        }
    }
    &.text-white {
        color: #fff;
    }
    &.text-black {
        color: #000;
    }
    .cdz-banner > a, .cdz-banner a > img {
        display: block;
        width: 100%;
    }
}