.banner-style39{
	position: relative;
    display: flex;
    display: flex;
    height: 100%;
    align-content: center;
	flex-direction: column;
    .item-content {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: inherit;
        padding: 30px 0;
        &.text-left {
            text-align:start;
        }
        &.text-right {
            text-align:end;
        }
    }
	.bc-title {
        font-weight: 500;
        font-size: 280%;
        margin-bottom: 20px;
    }
    .b-caption{
        font-size: 140%;
    }
    .bc-desc {
        line-height: 25px;
		margin-bottom: 6rem;
    }
    .bc-actions .bc-btn {
        display: inline-block;
		padding: 15px 30px;
		font-size: 16px;
		font-weight: 500;
		border-radius: @btn_radius;
		font-weight: 500;
		.abs-transition();
		&:after{
			.abs-iconfont("\f101", 18px);
			margin-inline-start: 15px;
		}
		.abs-style(@btn_primary_text, @btn_primary_border, @btn_primary_background);
		&:hover {
			letter-spacing: 1px;
		}
    }
    &.text-white {
        color: #fff;
    }
    &.text-black {
        color: #000;
    }
    .cdz-banner > a, .cdz-banner a > img {
        display: block;
        width: 100%;
    }
	.cdz-timer-01{
		.countdown-timer .deal-item{
			margin-inline-end: 20px;
			background: @main_background;
			color: @main_title_text;
			border-radius: @main_box_radius;
			padding: 10px 5px;
			.value{
				background: none;
				padding:0;
				font-weight: 500;
				min-width: 80px;
			}
			.label{
				color: inherit;
				margin:0;
			}
		}
	}
    @media @phone {
		.bc-desc{margin-bottom: 3rem;}
		.bc-title{font-size: 200%;}
    }
	@media @tablet_vertical_down{
        .cdz-timer-01 .countdown-timer .deal-item{
			margin-inline-end: 10px;
			.value {
				min-width: 60px;
			}
		}
	}
}