.page-footer{
    /*-- Layout --*/
    .footer.content{
        display: none;
    }
    .main-footer{
        .footer.content{
            display: block;
            border: none;
            padding: 0 0;
			margin:0;
        }
        color: @footer_text;
        font-size: @footer_font;
    }
    .footer-content-top, .footer-content-middle, .footer-content-bottom{
        display: block;
        width: 100%;
        float: left;
    }
    .footer-content-top{
         background-color: @footer_top_background;
         //background-image: linear-gradient(to bottom, lighten( @footer_top_background, 10%) 0%, @footer_top_background 100%);
         padding: 10px 0px;
    }
    .footer-content-middle{
        background: url(@footer_background_file) @footer_background_image_option;
        background-color: @footer_background;
    }
    .middle-top{
        padding: 20px 0px;
		@media @tablet_vertical{
			display: flex;
			align-items: center;
		}
        .col-right {
            text-align: right;
            .rtl-layout & {
                text-align: left;
            }
        }
    }
    .middle-bottom{
		padding: 60px 0px 50px;
    }
    .footer-content-bottom{
        background-color: @footer_bottom_background;
    }
    /*-- End Layout --*/
    
    
    .footer-content-middle .title{
        display: inline-block;
        margin-right: 20px;
        vertical-align: middle;
        font-size: 16px;
        color: @footer_title_text;
        font-weight: bold;
        .rtl-layout &{
            margin-left: 20px;
            margin-right: 0px;
        }
    }
	.newsletter-title{
		.title {
			font-size: 200%;
			font-weight: 600;
			margin-bottom: 5px;
		}
	}
    .block.newsletter {
        margin:0;
		width:100%;
		.content{
			background: @footer_text;
			.abs-borderradius(25px);
			.actions{
				vertical-align: middle;
			}
			.action.subscribe{
				.abs-borderradius(25px);
				margin: 0 5px;
				padding: 10px 20px;
			}
			.control{
				padding: 0 10px;
				position:relative;
				input{
					height: 50px;
					line-height: 50px;
					border:none;
					background: transparent;
					.rtl-layout &{
						padding-right: 35px;
						padding-left: 0;
					}
				}
				&:before{
					line-height: 50px;
				}
			}
		}
    }
    .footer-social{
        text-align: left;
        .rtl-layout &{
            text-align: right;
        }
        .social{
            display: inline-block;
            margin: 0;
            vertical-align: middle;
            a{
				margin-right: 20px;
                .fa {
                    line-height: inherit;
					font-size: 0;
                    &:before {
                        font-size: 18px;
                    }
                }
                .rtl-layout &{
                    margin-left: 20px;
                    margin-right: 0px;
                    float: right;
                }
                transition: .6s;
                &:hover{
                    .abs-transform(~'translateY(-5px)');
                }
            }
        }
    }
    .footer-logo {
        img {
            width: auto;
            max-width: 100%;
        }
    }
    
    .overlay-dark {
        position: relative;
        background-position: center center;
        background-size: cover;
        > * {
            position: relative;
        }
        &:before{
            content: '';
            .absolute-full-box();
            background: @footer_bottom_background;
            opacity: 0.8;
        }
    }
    
    .service-banner-style03 .item .item-text .item-sub-title{
        font-style: normal;
    }
    .footer-box{
        .h5{
            margin-bottom: 10px;
            color: @footer_title_text;
            font-size: @footer_title_font;
        }
        .footer-link{
           li{
                margin-bottom: 0px;
                padding: 10px 0;
				a:before{
				   content:"-";
				   margin-right: 5px;
				   .rtl-layout &{
					   margin-right: 0;
					   margin-left: 5px;
				   }
			   }
           }
           a{
               color: @footer_text;
               font-size: @footer_font;
               &:hover{
                   color: @footer_hover_text;
               }
           }
        }
    }
    .footer-content-bottom{
        .footer-address{
            color: @footer_title_text;
			padding: 20px 0 10px;
			border-top: 1px solid @footer_border;
        }
        .footer-payment {
            float: right;
            .rtl-layout &{
                float: left;
            }
        }
    }
    @media @phone {
        margin-bottom: 50px;
        .block.newsletter{
            width: 100%;
            position: relative;
            text-align: left;
            .field.newsletter{
                width: 100%;
            }
            .actions{
                position: absolute;
                right: -2px;
				top:3px;
                .rtl-layout &{
                    left: 0;
                    right: auto;
                }
                width: auto;
                margin: 0;
                .action.subscribe{
                    > span{
                        display: none;
                    }
                    &:before{
                        font-family: FontAwesome;
                        content: "\f1d8";
                        font-size: 20px;
                        line-height: 1;
                    }
                }
            }
        }
        .col-center{            
			.fa{display:none;}
            .newsletter-title{
				margin-bottom: 10px;
				text-align: center;
				width:100%;
            }
        }
        .footer-social {
            text-align: center;
            .rtl-layout &{
                text-align: center;
            }
            .title {
                display: none;
            }
        }
        .main-footer .footer.content{
            margin: 0;
        }
        .middle-top{
            padding: 10px 0px;
        }
        .middle-bottom{
            padding: 10px;
        }
        .footer-box {
            .h5{
                margin-bottom: 0;
                padding: 10px 0px;
                position: relative;
                margin: 0 -10px;
                padding: 7px 10px 7px 30px;
                cursor: pointer;
                font-weight: normal;
                .rtl-layout &{
                    padding: 10px 30px 10px 10px;
                }
                &:before{
                    font-family: FontAwesome;
                    font-size: 15px;
                    font-weight: normal;
                    content: "\f105";
                    margin-right: 10px;
                    position: absolute;
                    left: 10px;
                    transition: .6s;
                    .rtl-layout &{
                        right: 10px;
                        left: auto;
                        content: "\f104";
                    }
                }
                &.active{
                    &:before{
                        transform: rotateZ(90deg);
                        .rtl-layout &{
                            transform: rotateZ(-90deg);
                        }
                    }
                }
            }
            .showhide{
                padding: 10px 0px;
            }
        }
        .footer-content-bottom{
            text-align: center;
            .footer-payment {
                float: none;
                display: inline-block;
                .rtl-layout &{
                    float: none;
                }
            }
        }
        .overlay-dark {
            background-attachment: fixed;
        }
        .footer-logo{
            text-align: center;
            margin-bottom: 10px;
        }
    }
}