@footer_background:#2b2b2b;@footer_background_file:~'codazon/themelayout/images/tspr.png';@footer_background_image_option:transparent;@footer_background_normal:#000000;@footer_border:#434343;@footer_bottom_background:#2b2b2b;@footer_font:14px;@footer_hover_text:#e8a86e;@footer_text:#8a8a8a;@footer_text_normal:#ffffff;@footer_title_font:20px;@footer_title_text:#ffffff;@footer_top_background:#434343;@service-banner-background: #cf111a;
@service-banner-title: #000000;
@service-banner-hover-title: #f53867;
@service-banner-text: #999999;
@service-banner-hover-text: #f53867;
@service-banner-icon: #f53867;
@service-banner-icon-border: #f53867;
@service-banner-hover-icon: #f53867;
@service-banner-hover-icon-border: #f53867;
