@footer_background:#FFFFFF;@footer_background_file:~'codazon/themelayout/images/tspr.png';@footer_background_image_option:transparent;@footer_background_normal:#000000;@footer_border:#eeeeee;@footer_bottom_background:#f5f5f5;@footer_font:13px;@footer_hover_text:#e2a661;@footer_text:#666666;@footer_text_normal:#ffffff;@footer_title_font:18px;@footer_title_text:#111111;@footer_top_background:#222222;@service-banner-background: #cf111a;
@service-banner-title: #000000;
@service-banner-hover-title: #f53867;
@service-banner-text: #999999;
@service-banner-hover-text: #f53867;
@service-banner-icon: #f53867;
@service-banner-icon-border: #f53867;
@service-banner-hover-icon: #f53867;
@service-banner-hover-icon-border: #f53867;
