@footer_background:#121212;@footer_background_file:~'codazon/themelayout/images/b/k/bkg-footer1.png';@footer_background_image_option:~'0 0 no-repeat';@footer_background_normal:#ffb700;@footer_border:#bdbdbd;@footer_bottom_background:#121212;@footer_font:13px;@footer_hover_text:#ffb700;@footer_text:#ffffff;@footer_text_normal:#121212;@footer_title_font:14px;@footer_title_text:#ffffff;@footer_top_background:#ffb700;@service-banner-background: #ffb700;
@service-banner-title: #000000;
@service-banner-hover-title: #000000;
@service-banner-text: #000000;
@service-banner-hover-text: #000000;
@service-banner-icon: #000000;
@service-banner-hover-icon: #000000;
@service-banner-icon-border: #ffb700;
@service-banner-hover-icon-border: #ffb700;
