.page-footer{
    /*-- Layout --*/
    .footer.content{
        display: none;
    }
    .main-footer{
        .footer.content{
            display: block;
            border: none;
            padding: 0 0;
			margin:0;
        }
        color: @footer_text;
        font-size: @footer_font;
    }
    .footer-content-top, .footer-content-middle, .footer-content-bottom{
        display: block;
        width: 100%;
        float: left;
    }
    .footer-content-top{
        background: url(@footer_background_file) @footer_background_image_option;
        background-color: @footer_top_background;
        padding: 120px 0px;
		background-size: cover;
        background-position: center center;
    }
    .footer-content-middle{
        background-color: @footer_background;
    }
    .footer-top-inner{
		.col-center .fa{
			color:@footer_text_normal;
		}
    }
	.middle-top{
		border-bottom:1px solid @footer_border;
		.service-banner-style01 .item{
			justify-content: center;
			border-inline-start: 1px solid @footer_border;
			&:first-child{
				border-inline-start:none;
			}
			.item-content>p{
				font-size: @footer_font;
				font-style: normal;
				margin-bottom: 1rem;
			}
			.item-icon{font-size: 36px;}
		}
    }
    .middle-bottom{
		padding: 80px 0px;
		.contact-info{
			.footer-text{
				display: flex;
				align-items: center;
				.fa{
					&:before{
						width: 30px;
						height: 30px;
						.abs-borderradius(100%);
						text-align: center;
						background-color: @footer_background_normal;
						color: @footer_text_normal;
						line-height: 30px;
						margin-inline-end: 10px;
						display:inline-block;
						font-size: 15px;
					}
				}
			}
		}
    }
    .footer-content-bottom{
        background-color: @footer_bottom_background;
    }
    /*-- End Layout --*/
    
  
	.newsletter-title{
		color:@footer_text_normal;
		margin-bottom: 28px;
		.title {
			font-size: 200%;
			font-weight: 600;
			margin-bottom: 5px;
		}
	}
    .block.newsletter {
        margin:0;
		width:100%;
		.content{
			background: @footer_background;
			.abs-borderradius(25px);
			.actions{
				vertical-align: middle;
			}
			.action.subscribe{
				.abs-borderradius(25px);
				margin: 0 5px;
				padding: 10px 20px;
				background: @footer_hover_text;
				border-color: @footer_hover_text;
			}
			.control{
				padding: 0 10px;
				position:relative;
				input{
					height: 50px;
					line-height: 50px;
					border:none;
					.rtl-layout &{
						padding-right: 35px;
						padding-left: 0;
					}
				}
				&:before{
					line-height: 50px;
				}
			}
		}
    }
    .footer-social{
        text-align: left;
		display: inline-block;
		margin-top: 10px;
        .rtl-layout &{
            text-align: right;
        }
        .social{
            display: inline-block;
            margin: 0;
            vertical-align: middle;
            a{
				margin-right: 20px;
				display: inline-block;
                color: @footer_text;
                .fa {
                    line-height: inherit;
					font-size: 0;
                    &:before {
                        font-size: 26px;
                    }
                }
                .rtl-layout &{
                    margin-left: 20px;
                    margin-right: 0px;
                    float: right;
                }
                transition: .6s;
                &:hover{
                    color: @footer_hover_text;
                    .abs-transform(~'translateY(-5px)');
                }
            }
        }
    }
    
    .footer-box{
        .h5{
            margin-bottom: 3rem;
            color: @footer_title_text;
            font-size: @footer_title_font;
        }
        .footer-link{
           li{
                margin-bottom: 10px;
           }
           a{
               color: @footer_text;
               font-size: @footer_font;
               &:hover{
                   color: @footer_hover_text;
               }
           }
        }
    }
    .footer-content-bottom{
		padding:120px 0;
        .footer-payment {
            display:inline-block;
			margin-bottom:20px;
        }
		a{
			color: @footer_text;
			&:hover{
			   color: @footer_hover_text;
		   }
		}
		.bottom-links{
			margin:0 0 20px;
			padding:0;
			list-style:none;
			li{
				margin:0;
				display:inline-block;
				border-inline-start: 1px solid @footer_border;
				margin-inline-start: 10px;
				padding-inline-start: 10px;
				&:first-child{
					border-inline-start: none;
					margin-inline-start: 0px;
					padding-inline-start: 0px;
				}
			}
		}
    }
	@media @tablet_vertical{
		.service-banner-style01{
			padding: 80px 0;
		}
	}
    @media @phone {
        margin-bottom: 50px;
		.footer-content-top, .footer-content-bottom{
			padding: 40px 0;
		}
        .block.newsletter{
            width: 100%;
            position: relative;
            text-align: left;
            .field.newsletter{
                width: 100%;
            }
            .actions{
                position: absolute;
                right: -2px;
				top:3px;
                .rtl-layout &{
                    left: 0;
                    right: auto;
                }
                width: auto;
                margin: 0;
                .action.subscribe{
                    > span{
                        display: none;
                    }
                    &:before{
                        font-family: FontAwesome;
                        content: "\f1d8";
                        font-size: 20px;
                        line-height: 1;
                    }
                }
            }
        }
        .col-center{            
			.fa{display:none;}
            .newsletter-title{
				margin-bottom: 10px;
				text-align: center;
				width:100%;
            }
        }
        .footer-social {
            text-align: center;
            .rtl-layout &{
                text-align: center;
            }
            .title {
                display: none;
            }
        }
        .main-footer .footer.content{
            margin: 0;
        }
        .footer-top-inner{
            padding: 10px 0px;
        }
		.middle-top .service-banner-style01 .item{
			justify-content: inherit;
			border:none;
		}
        .middle-bottom{
            padding: 30px 10px;
        }
        .footer-box {
            .h5{
                margin-bottom: 0;
                padding: 10px 0px;
                position: relative;
                margin: 0 -10px;
                padding: 7px 10px 7px 30px;
                cursor: pointer;
                font-weight: normal;
				font-size: 120%;
                .rtl-layout &{
                    padding: 10px 30px 10px 10px;
                }
                &:before{
                    font-family: FontAwesome;
                    font-size: 15px;
                    font-weight: normal;
                    content: "\f105";
                    margin-right: 10px;
                    position: absolute;
                    left: 10px;
                    transition: .6s;
                    .rtl-layout &{
                        right: 10px;
                        left: auto;
                        content: "\f104";
                    }
                }
                &.active{
                    &:before{
                        transform: rotateZ(90deg);
                        .rtl-layout &{
                            transform: rotateZ(-90deg);
                        }
                    }
                }
            }
            .showhide{
                padding: 10px 0px;
            }
        }
    }
}