@footer_background:transparent;@footer_background_file:~'codazon/themelayout/images/b/g/bg-footer_2.jpg';@footer_background_image_option:~'center bottom no-repeat';@footer_background_normal:#ffffff;@footer_border:#3a3a3a;@footer_bottom_background:transparent;@footer_font:14px;@footer_hover_text:#c26431;@footer_text:#ffffff;@footer_text_normal:#121212;@footer_title_font:18px;@footer_title_text:#ffffff;@footer_top_background:transparent;@service-style06-background: #125430;
@service-style06-icon-background: #fc0;
@service-style06-icon-text: #fff;
@service-style06-text: #fff;
@service-style06-icon-hover-background: #fc0;
@service-style06-icon-hover-text: #121212;
