@footer_background:#1f1f1f;@footer_background_file:~'codazon/themelayout/images/tspr.png';@footer_background_image_option:~'0 0 no-repeat';@footer_background_normal:#ffb700;@footer_border:#484848;@footer_bottom_background:#1f1f1f;@footer_font:13px;@footer_hover_text:#ffb700;@footer_text:#ffffff;@footer_text_normal:#1d1e16;@footer_title_font:16px;@footer_title_text:#49b345;@footer_top_background:#1f1f1f;@service-banner-background: #ffb700;
@service-banner-title: #000000;
@service-banner-hover-title: #000000;
@service-banner-text: #000000;
@service-banner-hover-text: #000000;
@service-banner-icon: #000000;
@service-banner-hover-icon: #000000;
@service-banner-icon-border: #ffb700;
@service-banner-hover-icon-border: #ffb700;
